<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Editar Desenvolvedora</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/svg+xml" th:href="@{/img/gamehub.svg}">
</head>

<body>

<nav class="menu-topo">
    <a href="/" class="logo">
        <img th:src="@{/img/gamehub.svg}" alt="" width="28" height="28">
        GameHub
    </a>
    <a href="/jogos/listagem">Jogos</a>
    <a href="/desenvolvedoras/listagem">Desenvolvedoras</a>
</nav>

<h1>Editar Desenvolvedora</h1>

<form
        th:action="@{/desenvolvedoras/editar/{id}(id=${desenvolvedora.id})}"
        method="post">

    <label>Nome:</label>

    <input
            type="text"
            name="nome"
            th:value="${desenvolvedora.nome}"
            required>

    <br><br>

    <label>País:</label>

    <input
            type="text"
            name="pais"
            th:value="${desenvolvedora.pais}"
            required>

    <br><br>

    <button type="submit">
        Salvar alterações
    </button>

</form>

<br>

<a href="/desenvolvedoras/listagem">
    Voltar para listagem
</a>

</body>
</html>