<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>GameHub</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/svg+xml" th:href="@{/img/gamehub.svg}">
</head>

<body>

<h1 class="titulo-logo">
    <img th:src="@{/img/gamehub.svg}" alt="" width="48" height="48">
    GameHub
</h1>

<p>Sistema de gerenciamento de jogos</p>

<hr>

<h2>Menu</h2>

<a href="/desenvolvedoras/listagem">
    <button type="button">Desenvolvedoras</button>
</a>

<a href="/jogos/listagem">
    <button type="button">Jogos</button>
</a>

</body>
</html>